button {
  margin-left: 5px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
  font-family: $sans-serif;
  text-align: center;
  font-weight: 600;
}

.white-button {
	background-color: $white;
  border: 1px solid $gray;
  align-items: center;
  padding: 3px 13px;
}

.orange-button {
  background-color: $orange;
  border-color: $orange;
  border: 1px solid $orange;
  color: white;
  align-items: center;
  padding: 3px 13px;
}

.orange-button:hover {
	background-color: $light-orange;
	border-color: $orange;
}

input[type=submit] {
  font-weight: bold;
  margin-left: 0;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
  font-size: 11px;
  border: 0;
  font-weight: 600;
	text-align: center;
}
