.postShow {

}
.whiteBox{
  background: white;
  border: 1px solid $gray;
  margin: 20px;
  font-family: $sans-serif;
}
.postHeader {
  margin: 20px;
  display: flex;
  .postimg{
    height: 100px;
    width: 100px;
    position: relative;
    img{
      position: absolute;
      height: 90px;
      width: 90px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .postinfo{
    // display: flex;
    margin-left: 15px;
    width: auto;
    height: 100%;

    .postTitile {
    }
    .postDescription{
      color: $gray;
      font-size: 14px;
      font-weight: 600;
      color: $dark-gray;
      letter-spacing: 0.4px;
      line-height: 20px;
      text-transform: capitalize;
      margin-top: 10px;
    }
  }
}

.postBody {
  // background: white;
  margin: 20px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  // border: 1px solid $gray;
  .description{
    background: white;
    // border: 1px solid $gray;
  }
}

// .postBody .photoList{
//   background: white;
//   border: 1px solid $gray;
// }
